@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body, html {
    height: 100vh;
}
.obf-cover{
    object-fit:cover;
}
body{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
}
.card{
    border-radius: 0.5rem;
    font-family: 'Fredoka One', cursive;
    color:white;
}
.card h1{
    font-family: 'Pacifico', cursive !important;
}
.rounded{
    border-radius: 0.5rem;
}
.page-center{
    margin-top: 20vh;
}